#mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-image: url("../assets/bg_bggenerator_com.png");
    height: 100%;
    width: 100%;
}
.enable2FA-background {
    position: absolute;
    height: 75%;
    width: 70%;
    background-color: white;
    opacity: 0.4;
    border-radius: 10px;
}
.enable2FA-container {
    height: 75%;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 1;
    padding: 20px;
}
